* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.txt-dcr {
  text-decoration: none;
}
.container {
  width: 95% !important;
  margin: 0 auto;
}
header {
  padding: 20px 0;
  background-color: #f6f7f8;
  .all_header {
    .container_content {
      @extend .container;
      .content_header {
        .left {
          a {
            @extend .txt-dcr;
            color: #666666;
            margin-right: 25px;
          }
          .diff {
            border: 1px solid #0056c1;
            color: #0056c1;
            border-radius: 20px;
            padding: 6px 12px;
            transition: 0.5s;
            &:hover {
              background-color: #0056c1;
              color: #fff;
            }
          }
        }
        .right {
          span {
            margin-left: 15px;
            color: #666666;
            cursor: pointer;
            i {
              cursor: pointer;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
.all {
  // .inp1{
  position: relative;
  // height: 100px;
  input {
    padding: 60px 42px;
    border: none;
  }
  ::placeholder {
    font-size: 40px;
  }

  // }
  i {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translate(-50%, -50%);
    font-size: 40px;
    cursor: pointer;
  }
}
.all *:focus{
    outline: none;
}
input[type="text"]
{
    font-size:40px;
    color: #666666;
}
.active{
    display: none;
}
.active2{
  transform: rotate(180deg);

}
.arrow{
  transition: .5s;

}